<mat-toolbar class="toolbar">
  <button class="menu-icon" mat-icon-button >
      <mat-icon>menu</mat-icon>
  </button>
  <span class="title-text" fxLayoutAlign="center center" > EmployeeDetails</span>
  <span class="example-spacer"></span>
    <button matTooltip="Register" class="material-icons" [routerLink]="['/register']">account_circle</button>
</mat-toolbar>
<div style="height: 90%;">
  <div fxLayoutAlign="center">
    <form class="form" [formGroup]="signInForm" (ngSubmit)="signIn(signInForm.value)">
      <div>
        <div class="title-head" fxLayoutAlign="center">Sign in</div>
        <div class="title-head account" fxLayoutAlign="center">Use your EmployeeDetails Account</div>
        <div>
          <mat-form-field appearance="outline" class="textbox">
            <mat-label>Email</mat-label>
            <input matInput type="text" formControlName="email" id="email" class="form-control" autocomplete=off>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline" class="textbox">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password" id="password" onCopy="return false" onPaste="return false">
            <mat-hint>
              <a  class="link-text" style="color: #1A73E8;">Forgot password?</a>
            </mat-hint>
          </mat-form-field>
        </div>
        <div class="button-div" fxLayoutAlign="space-between center">
          <a [routerLink]="['/register']" class="link-text">Create Account</a>
          <input class="next-button" type="submit" value="Next" [style.fontSize.px]="11">
        </div>
      </div>
    </form>
  </div>
</div>
