.example-spacer {
    flex: 1 1 auto;
  }
  .toolbar {
    background-color: white;
  }
  .title-text {
    color: #5F6368;
  }

  
  .material-icons-outlined, button {
    border: 0px;
    background-color: transparent;
  }

  .material-icons {
    padding-right: 20px;
    color: #5F6368;
  }
  .menu-icon {
    border: 0px;
    background-color: white;
    color: #5F6368;
  }
  .menu-icon {
    outline: none;
  }
  footer{  
    // position: absolute;
    background-color: rgb(216, 213, 219);
    bottom: 0;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 30px;
    line-height: 2px;
    // height: 30px;
}